@tailwind base;
@tailwind components;
@tailwind utilities;

.headingColor {
  background: #6c2bcf;
  background: linear-gradient(to right, #822ed6 0%, #27cf5e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
